<div class="about-section margin-nav">
</div>
<div class="margin-nav">
    <div class="container">
        <h2 class="text-center">Sobre Nosotros</h2>
    </div>
</div>
<section>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">Misión</h2>
                    <p class="feature-description">Enriquecer la vida de los turistas otorgándoles la oportunidad de conocer el mundo desde una perspectiva innovadora. Proporcionar soluciones turísticas con responsabilidad social y ambiental, satisfaciendo los deseos de nuestros clientes,
                        superando sus expectativas y convirtiendo sus viajes en una experiencia memorable.</p>
                </div>
                <div class="col-md-5 feature-image" data-aos="fade-left">
                    <img class="img-fluid mx-auto" src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fmision.png?alt=media&token=4b831c77-1f60-4835-a8e4-760a3c6a6e44" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component back-gray">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7 order-md-2">
                    <h2 class="feature-heading">Visión</h2>
                    <p class="feature-description">Convertirse en un tour operador de servicios profesionales a nuestros clientes ofreciéndoles soluciones innovadoras de turismo receptivo y emisivo, lo que garantiza servicios de alta calidad que se comprometen con el turismo sostenible.</p>
                </div>
                <div class="col-md-5 feature-image order-md-1" data-aos="fade-right">
                    <img class="img-fluid mx-auto" src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fvision.svg?alt=media&token=08d2c63a-da62-405c-80b1-eda4f1246aaf" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<app-equipo></app-equipo>