.about-section {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 40px 0;
    height: 230px;
    color: white;
    background: url('src/assets/images/nosotros.jpg') no-repeat center;
    background-size: cover;
}

h2 {
    font-size: 2.6rem;
    font-weight: 400;
}

@media (min-width: 440px) {
    .about-section {
        height: 280px;
    }
}

@media (min-width: 660px) {
    .about-section {
        height: 380px;
    }
}

@media (min-width: 992px) {
    .about-section {
        height: 500px;
    }
}

@media (min-width: 1200px) {
    .about-section {
        height: 800px;
    }
}