<ngb-carousel *ngIf="esTipoElemento('noticias')">
    <ng-template ngbSlide *ngFor="let noticia of noticias">
        <div class="img-slider">
            <img [src]="noticia.imagen" [alt]="'Imagen noticia' + noticia.titulo">
        </div>
        <div class="back-caption"></div>
        <div class="carousel-caption">
            <h1>{{noticia.titulo}}</h1>
            <p>{{noticia.contenido}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<ngb-carousel *ngIf="esTipoElemento('lugar')">
    <ng-template ngbSlide *ngFor="let imagen of lugar.imagenes">
        <div class="img-slider">
            <img [src]="imagen" [alt]="'Imagen lugar ' + lugar.nombre">
        </div>
    </ng-template>
</ngb-carousel>