<div class="error">
    <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
    <h3 class="font-bold">Página no encontrada</h3>

    <div class="error-description">
        Lo sentimos, no podemos encontrar la página que estás buscando.<br> Puede volver a la página anterior o visitar nuestra página de inicio <br>
        <div>
            <a class="login-detail-panel-button btn" href=""><i class="fa fa-arrow-left"></i> Volver a la Página de Inicio</a>
        </div>
    </div>
</div>