.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .form-control {
    border-color: #d9534f;
    border-width: 2px;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.form-group {
    margin-bottom: 45px;
}

small {
    position: absolute;
    font-weight: bold;
}

form .btn {
    color: white;
    background-color: #4CAF50;
    padding: 4px 80px;
}

.contact-section {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 40px 0;
    height: 400px;
    color: white;
}

.form-title {
    margin: 40px 0px;
}

.contact-section h2 {
    color: rgba(0, 0, 0, 0.911);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.contact-section p {
    color: rgba(0, 0, 0, 0.911);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .05rem;
    text-align: center;
}

.contact-section {
    background: url('src/assets/images/contactenos.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0;
    /* height: 400px; */
    display: flex;
    align-items: center;
    color: white;
}

@media (min-width: 440px) {
    .contact-section {
        height: 280px;
    }
    .contact-section h2 {
        font-size: 2rem;
        text-align: center;
    }
    .contact-section p {
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .contact-section {
        height: 230px;
    }
}

@media (min-width: 660px) {
    .contact-section {
        height: 380px;
    }
}

@media (min-width: 768px) {
    .form-group {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .form-group {
        margin-bottom: 45px;
    }
    .abcontactout-section {
        height: 500px;
    }
    .contact-section h2 {
        font-size: 3.5rem;
        text-align: center;
    }
    .contact-section p {
        font-size: 1.3rem;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .contact-section {
        height: 800px;
    }
    .contact-section h2 {
        font-size: 5.2rem;
        margin-left: 8rem;
        text-transform: uppercase;
        text-align: left;
    }
    .contact-section p {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.911);
        margin-left: 8rem;
        text-align: left;
    }
    .form-group {
        margin-bottom: 50px;
    }
    .form-group input {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    form .btn {
        margin-bottom: 70px;
    }
    h2 {
        font-size: 2.8rem;
        margin-bottom: 2.8rem;
    }
}