<section>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">First featurette heading</h2>
                    <p class="feature-description">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 feature-image">
                    <img class="img-fluid mx-auto" src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component back-gray">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7 order-md-2">
                    <h2 class="feature-heading">First featurette heading</h2>
                    <p class="feature-description">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 feature-image order-md-1">
                    <img class="img-fluid mx-auto" src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">First featurette heading</h2>
                    <p class="feature-description">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 feature-image">
                    <img class="img-fluid mx-auto" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>