<div class="container margin-nav2">
    <h1 class="text-center">LISTA DE LUGARES</h1>
    <form>
        <div class="form-group form-inline">
            <input class="form-control ml-2" type="text" name="buscarTermino" autocomplete="off" [(ngModel)]="service.buscarTermino" placeholder="Buscar" />
            <span class="ml-3 loading" *ngIf="service.cargando$ | async">Cargando...</span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="nombre" (sort)="onSort($event)">Lugar</th>
                    <th scope="col" sortable="descripcion" (sort)="onSort($event)">Contenido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lugar of lugares$ | async" data-toggle="modalLugar" data-target="#lugarModal" [routerLink]="[ 'editar', lugar.id]">
                    <td>
                        <ngb-highlight [result]="lugar.nombre" [term]="service.buscarTermino"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="lugar.descripcion" [term]="service.buscarTermino"></ngb-highlight>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 col-sm-6 d-flex justify-content-between p-2 pagination-table">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.pagina" [pageSize]="service.tamanoPagina" [maxSize]="5" [rotate]="true" [ellipses]="false">
                </ngb-pagination>
            </div>
            <div class="col-12 col-sm-6 items-page">
                <select class="custom-select" name="tamanoPagina" [(ngModel)]="service.tamanoPagina">
                    <option [ngValue]="2">2 por página</option>
                    <option [ngValue]="4">4 por página</option>
                    <option [ngValue]="8">8 por página</option>
                </select>
            </div>
        </div>
    </form>
    <router-outlet></router-outlet>
</div>