h1 {
    color: #196F3D;
}

.items-page {
    padding: .5rem !important;
    text-align: right;
}

.items-page select {
    width: auto !important;
}

.btn-admin {
    margin-top: 1rem;
}

.btn-admin button {
    margin: 0 1rem !important;
    border-radius: .25rem !important;
}

@media (max-width: 576px) {
    .items-page {
        text-align: center;
    }
    .pagination-table {
        justify-content: center !important;
    }
    .loading {
        display: none !important;
    }
    .btn-admin button {
        width: auto;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .margin-nav2 {
        margin-top: 4.5rem !important;
    }
}

@media (min-width: 768px) {
    .btn-admin button {
        max-width: 12rem;
    }
}