h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    color: #196F3D;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#login-container {
    background: #fff;
    position: relative;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    margin: 1.5rem 0;
}

#separator {
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin: 2rem 0;
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }
    .boton {
        padding: 0 5rem;
        margin: .2rem 0;
    }
}

@media (min-width: 768px) {
    form {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}