<div class="container margin-nav2">
    <h1 class="text-center">LISTA DE LUGARES</h1>
    <form>
        <div class="form-group form-inline">
            <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" placeholder="Buscar" />
            <span class="ml-3 loading" *ngIf="service.loading$ | async">Loading...</span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="nombre" (sort)="onSort($event)">Lugar</th>
                    <th scope="col" sortable="asignado" (sort)="onSort($event)">Asignado</th>
                    <th scope="col" sortable="" (sort)="onSort($event)">Editor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lugar of lugares$ | async" [routerLink]="[ '/admin/lugares/editar', lugar.id]">
                    <td>
                        <ngb-highlight [result]="lugar.nombre" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="asignado(lugar.usuario)" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="usuario(lugar.usuario)" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 col-sm-6 d-flex justify-content-between p-2 pagination-table">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false">
                </ngb-pagination>
            </div>
            <div class="col-12 col-sm-6 items-page">
                <select class="custom-select" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="2">2 por página</option>
                    <option [ngValue]="4">4 por página</option>
                    <option [ngValue]="8">8 por página</option>
                </select>
            </div>
        </div>
        <div class="row btn-admin">
            <button type="button" class="col btn btn-primary" routerLink="/admin/lugares/nuevo">Agregar</button>
        </div>
    </form>
</div>