<div class="super-container ">
    <div class="container margin-nav">

        <form [formGroup]="formulario">
            <div>
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h4 class="section-title">Datos personales</h4>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-4 col-lg-3 component-photo">
                                        <label class="btn btn-user">
                                            <img *ngIf="this.usuario.foto" [src]="this.usuario.foto" width="97px" height="105px">
                                            <p *ngIf="!this.usuario.foto">Foto</p>
                                            <input type="file" accept=".png, .jpg" (change)="cargarImagen($event)">
                                        </label>
                                    </div>
                                    <div class="col-sm-8 col-lg-9">
                                        <div class="row">
                                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('nombre').valid && formulario.get('nombre').touched}">
                                                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                                                <div>
                                                    <small *ngIf="formulario.get('nombre').errors?.required && formulario.get('nombre').touched" class="form-control-feedback">Este campo es requerido.</small>
                                                    <small *ngIf="formulario.get('nombre').errors?.minlength && formulario.get('nombre').touched" class="form-control-feedback">Por lo menos {{formulario.controls['nombre'].errors?.minlength.requiredLength}} caracteres.</small>
                                                </div>
                                            </div>
                                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('apellidos').valid && formulario.get('apellidos').touched}">
                                                <input type="text" formControlName="apellidos" class="form-control" placeholder="Apellido(s)">
                                                <div>
                                                    <small *ngIf="formulario.get('apellidos').errors?.required && formulario.get('apellidos').touched" class="form-control-feedback">Este campo es requerido.</small>
                                                    <small *ngIf="formulario.get('apellidos').errors?.minlength && formulario.get('apellidos').touched" class="form-control-feedback">Por lo menos {{formulario.controls['apellidos'].errors?.minlength.requiredLength}} caracteres.</small>
                                                </div>
                                            </div>
                                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('correo').valid && formulario.get('correo').touched}">
                                                <input type="text" formControlName="correo" class="form-control" placeholder="Correo">
                                                <div>
                                                    <small *ngIf="formulario.get('correo').errors?.required && formulario.get('correo').touched" class="form-control-feedback">Este campo es requerido.</small>
                                                    <small *ngIf="formulario.get('correo').errors?.minlength && formulario.get('correo').touched" class="form-control-feedback">Por lo menos {{formulario.controls['correo'].errors?.minlength.requiredLength}} caracteres.</small>
                                                </div>
                                            </div>
                                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('usuario').valid && formulario.get('usuario').touched}">
                                                <input type="text" formControlName="usuario" class="form-control" placeholder="Usuario">
                                                <div>
                                                    <small *ngIf="formulario.get('usuario').errors?.required && formulario.get('usuario').touched" class="form-control-feedback">Este campo es requerido.</small>
                                                    <small *ngIf="formulario.get('usuario').errors?.minlength && formulario.get('usuario').touched" class="form-control-feedback">Por lo menos {{formulario.controls['usuario'].errors?.minlength.requiredLength}} caracteres.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button (click)="guardar()" class="btn btn-form">Guardar</button>
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </form>

        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 class="section-title">Lugares Seguidos</h4>
            </div>
            <div class="col-12 col-lg-9">
                <div class="following">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let lugar of this.lugaresSeguidos; let i = index;">
                            <div class="row component-follower">
                                <div class="col-8 col-sm-9">
                                    <p><img [src]="lugar.imagenes[0]" alt="lugar" class="img-responsiv img-fluid img-circle" />{{lugar.nombre}}</p>
                                </div>
                                <div class="col-4 col-sm-3 aling-right">
                                    <button class="btn btn-outline-danger" (click)="removerLugar(i)">Remover</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 class="section-title">Mis Reseñas</h4>
            </div>
            <div class="col-12 col-lg-9">
                <div class="following">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let resena of this.resenas; let i = index;">
                            <div class="row component-review">
                                <div class="col-12 col-lg-3">
                                    <div class="row rating">
                                        <div class="col col-md-10 col-lg-12 order-2 order-lg-1 rating-heading">
                                            <h6>{{this.lugaresDescripcion[i]}}</h6>
                                        </div>
                                        <ngb-rating class="col-5 col-md-2 col-sm-3 col-lg-12 order-1 order-lg-2" [(rate)]="resena.valoracion">
                                            <ng-template let-fill="fill" let-index="index">
                                                <span class="star" [class.filled]="fill >= 100" [ngClass]="{'bad': currentRate <= 3}">&#9733;</span>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                    <span>{{resena.fechaPublicacion | date: "dd/MM/yyyy hh:mm a"}}</span>
                                </div>
                                <div class="col-12 col-lg-9">
                                    <p>{{resena.comentario}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>