<div #modal class="modal fade" id="noticiaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title form-title" id="modalLabel">{{encabezadoModal}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" [routerLink]="[ '/noticias']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="formulario" #f>
                        <div class="row">
                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('titulo').valid && formulario.get('titulo').touched}">
                                <label for="titulo" class="col-form-label">Título</label>
                                <input type="text" formControlName="titulo" class="form-control">
                                <div>
                                    <small *ngIf="formulario.get('titulo').errors?.required && formulario.get('titulo').touched" class="form-control-feedback">Este campo es requerido.</small>
                                    <small *ngIf="formulario.get('titulo').errors?.minlength && formulario.get('titulo').touched" class="form-control-feedback">Por lo menos {{formulario.controls['titulo'].errors?.minlength.requiredLength}} caracteres.</small>
                                </div>
                            </div>
                            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('contenido').valid && formulario.get('contenido').touched}">
                                <label for="contenido" class="col-form-label">Contenido</label>
                                <textarea rows="4" formControlName='contenido' class="form-control"></textarea>
                                <div>
                                    <small *ngIf="formulario.get('contenido').errors?.required && formulario.get('contenido').touched" class="form-control-feedback">Este campo es requerido.</small>
                                    <small *ngIf="formulario.get('contenido').errors?.minlength && formulario.get('contenido').touched" class="form-control-feedback">Por lo menos {{formulario.controls['contenido'].errors?.minlength.requiredLength}} caracteres.</small>
                                    <small *ngIf="formulario.get('contenido').errors?.maxlength && formulario.get('contenido').touched" class="form-control-feedback">Máximo permitido {{formulario.controls['contenido'].errors?.maxlength.requiredLength}} caracteres.</small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="imagenes" class="col-form-label">Imagen</label>
                            <div class="row gallery-component form-group">
                                <div class="col gallery">
                                    <div class="">
                                        <img class="img-thumbnail" [src]="this.noticia.imagen? this.noticia.imagen : '../../../assets/images/subir.png'" alt="noticia">
                                    </div>
                                </div>
                            </div>
                            <label class="btn  btn-secondary "> Seleccionar imagen
                                    <input type="file" accept=".png, .jpg" (change)="cargarImagen($event)">
                            </label>
                        </div>

                        <div class="btn-edit">
                            <div class="btn-group" role="group">
                                <div *ngIf="noticiaId != null" class="mr-3">
                                    <button type="submit" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-submit" (click)="guardar()">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>