<br><br><br><br>
<div class="container">
    <h2 class="text-center form-title" style="color: #196F3D;">NOTICIA</h2>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
        <!-- <div class="row"> -->
        <!-- <div class="col-12 col-lg-6"> -->
        <div class="row">
            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('titulo').valid && formulario.get('titulo').touched}">
                <label for="titulo" class="col-form-label">Título</label>
                <input type="text" formControlName="titulo" class="form-control">
                <div>
                    <small *ngIf="formulario.get('titulo').errors?.required && formulario.get('titulo').touched" class="form-control-feedback">Este campo es requerido.</small>
                    <small *ngIf="formulario.get('titulo').errors?.pattern && formulario.get('titulo').touched" class="form-control-feedback">El campo no tiene formato de titulo</small>
                </div>
            </div>
            <div class="form-group col-12" [ngClass]="{'has-danger': !formulario.get('contenido').valid && formulario.get('contenido').touched}">
                <label for="contenido" class="col-form-label">Contenido</label>
                <textarea rows="6" formControlName='contenido' class="form-control"></textarea>
                <div>
                    <small *ngIf="formulario.get('contenido').errors?.required && formulario.get('contenido').touched" class="form-control-feedback">Este campo es requerido.</small>
                    <small *ngIf="formulario.get('contenido').errors?.minlength && formulario.get('contenido').touched" class="form-control-feedback">Por lo menos {{formulario.controls['contenido'].errors?.minlength.requiredLength}} caracteres.</small>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- <div class="col-12 col-lg-6"> -->
        <div>
            <label for="imagenes" class="col-form-label">Imagen</label>
            <div class="row gallery-component form-group">
                <div class="col gallery">


                    <div class="">
                        <a href="#" data-toggle="modal" data-target="#image-gallery">
                            <img class="img-thumbnail" src="../../../assets/images/im-about.jpg" alt="place">
                        </a>
                    </div>
                    <!--  -->
                    <input type="file" #file>
                    <button class="btn btn-secondary gallery-btn" (click)="file.click()"><i class="fas fa-plus"></i></button>
                    <!--  -->
                    <div class="modal" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <img src="">
                                </div>
                                <div class="modal-footer">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->





        <div class="text-right">
            <button type="submit" class="btn btn-submit">Guardar</button>
        </div>

    </form>
</div>