<div class="margin-nav">

    <app-carousel [tipoElemento]="'noticias'"></app-carousel>

    <div class="container">
        <form class="form-search">
            <div class="row">
                <div class="col-sm-9 col-md-10">
                    <!--<input type="text" class="form-control" name="lugar" [(ngModel)]="buscarTexto" placeholder="Buscar lugar turístico">-->
                    <input type="text" class="form-control" name="lugar" placeholder="Buscar lugar turístico">
                </div>
                <div class="col-sm-3 col-md-2 text-center">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-6  col-lg-4" *ngFor="let lugar of lugares">
                <div class="card place-card" (click)="verLugar(lugar.id)">
                    <img [src]="lugar.imagenes != null? lugar.imagenes[0] : '/assets/images/im-contact.jpg'" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <span>{{lugar.ubicacion}}</span>
                        <h5 class="card-title">{{lugar.nombre}}</h5>
                        <p class="card-text">{{lugar.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="cantidadPaginas" [(page)]="pagina" [maxSize]="cantidadMaxima" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
</div>