<div class="margin-nav">

    <app-carousel [tipoElemento]="'noticias'"></app-carousel>

    <div class="container">
        <form class="form-search">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">LUGARES TURÍSTICOS</h2>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="buscarTermino" placeholder="Buscar lugar turístico" autocomplete="off" [(ngModel)]="service.buscarTermino">
                </div>
                <div class="col-sm-12 text-center">
                    <span class="loading" *ngIf="service.cargando$ | async">Cargando...</span>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-6  col-lg-4" *ngFor="let lugar of lugares$ | async">
                <div class="card place-card" (click)="verLugar(lugar.id)">
                    <img [src]="lugar.imagenes != null && lugar.imagenes.length > 0? lugar.imagenes[0] : 'https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/uploads%2Fpaisaje-default.svg?alt=media&token=3b84a525-6e7f-4212-9197-b9fffdb7dcae'" class="card-img-top img-fluid"
                        alt="">
                    <div class="card-body">
                        <span class="ellipsis-simple"><ngb-highlight [result]="lugar.ubicacion" [term]="service.buscarTermino"></ngb-highlight></span>
                        <h5 class="card-title ellipsis-simple">
                            <ngb-highlight [result]="lugar.nombre" [term]="service.buscarTermino"></ngb-highlight>
                        </h5>
                        <div id="card-descripcion" class="ellipsis">{{lugar.descripcion}}</div>
                        <!-- <p id="card-descripcion" class="ellipsis">
                            <ngb-highlight [result]="lugar.descripcion"></ngb-highlight>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="total$ | async" [pageSize]="service.tamanoPagina" [(page)]="service.pagina" [maxSize]="cantidadMaxima" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>

    <!-- <div id="conten" class="ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ac sapien interdum interdum. Etiam leo tortor, tincidunt eu neque nec, laoreet ullamcorper augue. Phasellus commodo tincidunt ligula, quis sodales est tempus ut. Donec non
        finibus dolor, quis molestie ligula. Sed orci magna, vehicula ut dui in, posuere rhoncus augue. </div> -->
</div>