.place-card {
    border: none;
    box-shadow: 0 0 8px #ddd;
    cursor: pointer;
    max-width: 20rem !important;
    min-width: 0rem !important;
    margin-bottom: 3rem !important;
    margin-left: auto;
    margin-right: auto;
}

.place-card:hover {
    border: none;
    box-shadow: 0 0 12px #ccc;
    cursor: pointer;
    transform: translatey(-3px);
}

.place-card:active {
    filter: brightness(0.95);
}

.place-card img {
    height: 180px;
}

.place-card .card-body h5 {
    padding-bottom: .1rem;
    padding-top: 1.1rem;
    font-weight: 500;
}

.place-card .card-body p {
    padding-bottom: 3.5rem;
}


/* .form-control {
    border: 1.5px solid #3B963E;
} */

.form-control:focus {
    border: 1.5px solid #3B963E;
    box-shadow: 0px 0px 5px #a0a0a0 !important;
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    h2 {
        font-size: 2rem;
    }
}

.container {
    margin-top: 3rem;
}

.form-search {
    margin-bottom: 40px;
}

.form-search .row div {
    margin-bottom: 13px;
}

.form-search .btn {
    background-color: #4CAF50;
    box-shadow: 0 0 4px #ccc;
    width: 100%
}

.form-search .btn:hover {
    background-color: #3B963E;
}

.form-search input {
    box-shadow: 0 0 8px #eee;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
}

h2 {
    color: #196F3D;
    margin-bottom: 2rem;
}

.card-body {
    height: 15rem;
    max-height: 15rem;
}

.ellipsis-simple {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#card-descripcion {
    height: 120px;
    overflow: hidden;
}