<section>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-5">
                    <h2 class="feature-heading">Título lugar turístico</h2>
                    <h3 class="feature-subheading">Seguidores <span>1.000.000</span></h3>
                    <p class="feature-description">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-7">
                    <app-carousel></app-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component back-gray">
        <div class="container">
            <div class="row feature text-center">
                <div class="col-md-12 order-md-2">
                    <iframe src="https://www.youtube.com/embed/y9u4LAUV488" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">Valoraciones</h2>
                </div>
                <div class="row">
                    <div id="agregar-comentario" class="col-12 p-3 back-gray">
                        <div class="col-12 mb-3">
                            <h4 class="section-title">Escribe un comentario</h4>
                        </div>
                        <div class="row component-review col-12">
                            <div id="div-img-comentario" class="col-md-2 col-sm-12 my-auto">
                                <div class="mb-2">
                                    <img src="../../../assets/images/seguidos.jpg" alt="" class="img-responsiv img-fluid img-circle" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h5>Nombre de usuario</h5>
                                <div class="row rating mb-2">
                                    <ngb-rating class="col-12 order-1 order-lg-2" [rate]="4">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" [ngClass]="{'bad': '[rate]' <= 3}">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                                <textarea rows="5" class="col-12 form-control mb-2" formControlName="Comentario" placeholder="Comentario..."></textarea>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <h3 class="section-title">Comentarios</h3>
                    </div>
                    <div class="col-12">
                        <div class="following">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row component-review">
                                        <div class="col-12 col-lg-3">
                                            <div class="row rating">
                                                <div class="col-8 col-sm-9">
                                                    <img src="../../../assets/images/seguidos.jpg" alt="" class="img-responsiv img-fluid img-circle" />
                                                </div>
                                                <ngb-rating class="col-12 order-1 order-lg-2" [rate]="4">
                                                    <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100" [ngClass]="{'bad': '[rate]' <= 3}">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <span>10 ene 2019</span>
                                        </div>
                                        <div class="col-12 col-lg-9">
                                            <h4>Nombre de usuario</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non velit ex. Nulla tempus tincidunt tempor. Cras ultrices felis sit amet turpis blandit egestas. Ut at leo efficitur, convallis arcu et, laoreet
                                                ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat bibendum volutpat. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row component-review">
                                        <div class="col-12 col-lg-3">
                                            <div class="row rating">
                                                <div class="col-8 col-sm-9">
                                                    <img src="../../../assets/images/seguidos.jpg" alt="" class="img-responsiv img-fluid img-circle" />
                                                </div>
                                                <ngb-rating class="col-12 order-1 order-lg-2" [rate]="4">
                                                    <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100" [ngClass]="{'bad': '[rate]' <= 3}">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <span>10 ene 2019</span>
                                        </div>
                                        <div class="col-12 col-lg-9">
                                            <h4>Nombre de usuario</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non velit ex. Nulla tempus tincidunt tempor. Cras ultrices felis sit amet turpis blandit egestas. Ut at leo efficitur, convallis arcu et, laoreet
                                                ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi volutpat bibendum volutpat. </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>