<section>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-5">
                    <h2 class="feature-heading">{{lugar.nombre}}</h2>
                    <button type="button" class="btn btn-link feature-subheading" data-toggle="modal" data-target="#modalSeguidores">Seguidores 
                        <span><strong>{{lugar.seguidores? lugar.seguidores.length : 0}}</strong></span>
                    </button>
                    <button type="button" *ngIf="!this.siguiendoLugar" (click)="modificarSeguimientoLugar()" class="btn btn-success mb-3">Seguir</button>
                    <button type="button" *ngIf="this.siguiendoLugar" (click)="modificarSeguimientoLugar()" class="btn btn-danger mb-3">Dejar de seguir</button>
                    <p class="feature-description"><strong>Horario: {{lugar.horario}}</strong></p>
                    <p class="feature-description">{{lugar.descripcion}}</p>
                </div>
                <div class="col-md-7">
                    <app-carousel [tipoElemento]="'lugar'"></app-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component back-gray">
        <div class="container">
            <div class="feature text-center">
                <div class="myIframe">
                    <iframe [src]="lugar.video | urlSegura" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-component">
        <div class="container">
            <div class="row feature">
                <div class="col-md-7 mb-3">
                    <h2 class="feature-heading">Reseñas</h2>
                    <div class="row">
                        <h3 class="col-md-12">Valoración general </h3>
                        <div class="row rating col-md-12">
                            <ngb-rating class="col-12 order-1 order-lg-2" [rate]="valoracionGeneral">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100" [class.bad]="valoracionGeneral <= 3">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <app-comentario class="col-12" *ngIf="this.auth.estaAutentificado()"></app-comentario>
                    <div class="col-12 mt-4">
                        <h3 class="section-title">Comentarios</h3>
                    </div>
                    <div class="col-12">
                        <div class="following">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let resena of resenas; let i = index;">
                                    <!-- COMENTARIO -->
                                    <div class="row component-review" [ngClass]="{'censurar-com': resena.censurado}">
                                        <div class="col-12 col-md-3">
                                            <div class="row rating text-center">
                                                <div class="col-12 text-left imagen">
                                                    <img [src]="getAtributoUsuario(resena.usuario.toString(), 'foto')" alt="" class="img-responsiv img-fluid img-circle foto" width="150" height="150" />
                                                </div>
                                                <ngb-rating class="col-12 order-1 order-lg-2 estrellas" [rate]="resena.valoracion">
                                                    <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100" [ngClass]="{'bad': resena.valoracion <= 3}">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <span>{{resena.fechaPublicacion | date: "dd/MM/yyyy hh:mm a"}}</span>
                                        </div>
                                        <div class="col-12 col-md-9 contenido">
                                            <h4>{{getAtributoUsuario(resena.usuario.toString(), 'nombre')}}</h4>
                                            <p>{{resena.comentario}}</p>
                                            <button type="button" class="btn btn-light" data-toggle="modal" [attr.data-target]="'#modal'+resena.id" *ngIf="this.auth.estaAutentificado() && this.esDueno">Responder</button>
                                            <button type="button" *ngIf="this.auth.estaAutentificado() && resena.usuario == this.usuarioActual.id" (click)="eliminar(i, -1, 'C')" class="btn btn-borrar"><i class="fas fa-trash f-delete"></i></button>
                                            <button type="button" class="btn-censura-com" *ngIf="this.auth.estaAutentificado() && this.esDueno" (click)="cambiarCensuraResena(resena.id)">{{ resena.censurado ? "Aprobar" : "Censurar"}}</button>
                                            <hr *ngIf="resena.respuestas && resena.respuestas.length > 0">
                                            <!-- RESPUESTA -->
                                            <div *ngFor="let respuesta of obtenerRespuestasResena(i)" class="row component-answer" [ngClass]="{'censurar-res': respuesta.censurado}">
                                                <div class="col-12 contenido">
                                                    <img [src]="getAtributoUsuario(respuesta.usuario.toString(), 'foto')" alt="" class="img-responsiv img-fluid img-circle" width="50px" height="50px" />
                                                    <h5>{{getAtributoUsuario(respuesta.usuario.toString(), 'nombre')}}</h5>
                                                    <span>{{respuesta.fechaPublicacion | date: "dd/MM/yyyy hh:mm a"}}</span>
                                                    <p>{{respuesta.comentario}}</p>
                                                    <div class="botones-res">
                                                        <button type="button" *ngIf="this.auth.estaAutentificado() && respuesta.usuario == this.usuarioActual.id" (click)="eliminar(i, respuesta.id, 'R')" class="btn"><i class="fas fa-trash f-delete"></i></button>
                                                        <button type="button" class="btn-censura-res" *ngIf="this.auth.estaAutentificado() && this.esDueno" (click)="cambiarCensuraResena(respuesta.id)">{{ respuesta.censurado ? "Aprobar" : "Censurar"}}</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- RESPONDER MODAL -->
                                    <div class="modal fade" [attr.id]="'modal'+resena.id" id="modalRes" tabindex="-1" role="dialog" aria-labelledby="comentarioModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="comentarioModalLabel">Responder al comentario</h5>
                                                    <button type="button" class="close" (click)="cerrarModal('#modal'+resena.id)" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row component-review">
                                                        <div class="col-12 col-lg-3">
                                                            <div class="row rating text-center">
                                                                <div class="col-12 text-left imagen">
                                                                    <img [src]="getAtributoUsuario(resena.usuario.toString(), 'foto')" alt="" class="img-responsiv img-fluid img-circle foto" width="100" height="100" />
                                                                </div>
                                                                <ngb-rating class="col-12 order-1 order-lg-2 estrellas" [rate]="resena.valoracion">
                                                                    <ng-template let-fill="fill" let-index="index">
                                                                        <span class="star" [class.filled]="fill === 100" [ngClass]="{'bad': resena.valoracion <= 3}">&#9733;</span>
                                                                    </ng-template>
                                                                </ngb-rating>
                                                            </div>
                                                            <span>{{resena.fechaPublicacion | date: "dd/MM/yyyy hh:mm a"}}</span>
                                                        </div>
                                                        <div class="col-12 col-lg-9 contenido">
                                                            <h4>{{getAtributoUsuario(resena.usuario.toString(), 'nombre')}}</h4>
                                                            <p class="comentario-modal">{{resena.comentario}}</p>
                                                        </div>
                                                    </div>
                                                    <form>
                                                        <div class="form-group" [formGroup]="formulario" [ngClass]="{'has-danger': !formulario.get('comentario').valid && formulario.get('comentario').touched}">
                                                            <label for="comentario" class="col-form-label">Comentario</label>
                                                            <textarea class="form-control" formControlName="comentario" id="comentario"></textarea>
                                                            <div>
                                                                <small *ngIf="formulario.get('comentario').errors?.required && formulario.get('comentario').touched" class="form-control-feedback">Este campo es requerido.</small>
                                                                <small *ngIf="formulario.get('comentario').errors?.minlength && formulario.get('comentario').touched" class="form-control-feedback">Por lo menos {{formulario.controls['comentario'].errors?.minlength.requiredLength}} caracteres.</small>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" (click)="cerrarModal('#modal'+resena.id)">Cerrar</button>
                                                    <button type="button" class="btn btn-primary" (click)="comentar(resena, '#modal'+resena.id)">Publicar comentario</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalSeguidores" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Seguidores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush">
                    <div *ngFor="let seguidor of this.seguidores" class="list-group-item seguidor-c">
                        <img [src]="seguidor.foto" alt="" class="" width="50px" height="50px" />
                        <p>{{seguidor.nombre}}</p>
                        <span>{{seguidor.correo}}</span>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>