.feature {
    margin: 4rem 0;
}

.feature-component {
    padding: 3.2rem 0;
}

.feature-image {
    background-color: rgb(240, 221, 221);
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-carousel {
    background-color: rgb(240, 221, 221);
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-description {
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 20px;
}

.feature-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 41px;
    padding-bottom: .65em;
}

.feature-subheading {
    font-weight: 150;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 30px;
    padding-bottom: .65em;
}

.back-gray {
    background-color: #FAFAFA;
}

.star {
    font-size: 1.5rem;
    color: #9c9c9c;
}

.filled {
    color: #1e90ff;
}

.filled.bad {
    color: #ff1e1e;
}


/* .star {
    font-size: 1.5rem;
    color: #9c9c9c;
}

.filled {
    color: #1e90ff;
}

.filled.bad {
    color: #ff1e1e;
} */

.list-group-item {
    border: none !important;
}

@media (min-width: 576px) {
    .feature-heading {
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    .feature-heading {
        font-size: 50px;
    }
    #agregar-comentario .img-circle {
        width: 65%;
    }
    #div-img-comentario {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 3.5rem;
    }
}

iframe {
    width: 90%;
    height: 90vh;
}

.img-responsiv {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

#agregar-comentario {
    border: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}