.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .form-control {
    border-color: #d9534f;
    border-width: 2px;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.censurar .rating,
.censurar .contenido>h4,
.censurar .contenido>p,
.censurar .contenido>.btn-light {
    pointer-events: none;
    opacity: 0.2;
}

.btn-censura {
    border: none;
    background-color: inherit;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.btn-censura:hover {
    color: #1e90ff;
}

.btn-censura:active {
    color: #1d7bd8;
}

.modal-title {
    color: #4CAF50;
}

.modal-footer .btn-primary {
    background-color: #37ad53;
    border-color: #37ad53;
}

.modal-footer .btn-primary:hover {
    background-color: #28a745;
}

.modal-footer .btn-primary:active {
    background-color: #37ad53;
}

form {
    margin-top: 1.2rem;
}

.estrellas {
    margin-left: 1.5rem;
}

button:focus {
    outline: none !important;
}

.btn-light {
    background-color: #ebebeb;
}

.feature {
    margin: 4rem 0;
}

.imagen {
    min-width: 150px;
    min-height: 150px;
}

.feature-component {
    padding: 0.1rem 0;
}

.feature-image {
    background-color: rgb(240, 221, 221);
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-carousel {
    background-color: rgb(240, 221, 221);
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-description {
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 20px;
}

.feature-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 41px;
    padding-bottom: .65em;
}

.feature-subheading {
    font-weight: 150;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 30px;
    padding-bottom: .65em;
}

.back-gray {
    background-color: #FAFAFA;
}

.star {
    font-size: 1.5rem;
    color: #9c9c9c;
}

.filled {
    color: #1e90ff;
}

.filled.bad {
    color: #ff1e1e;
}

.list-group-item {
    border: none !important;
}

.col-form-label {
    font-size: 15px !important;
    font-weight: 700;
}

@media (min-width: 576px) {
    .feature-heading {
        font-size: 45px;
    }
    p {
        min-height: 3rem;
    }
}

@media (min-width: 768px) {
    .feature-heading {
        font-size: 50px;
    }
    #agregar-comentario .img-circle {
        width: 65%;
    }
    #div-img-comentario {
        text-align: center;
    }
    p {
        min-height: 6rem;
    }
}

@media (min-width: 992px) {
    /* .feature-heading {
        margin-top: 3.5rem;
    } */
    .feature-component {
        padding: 3.2rem 0;
    }
}

.component-review {
    margin-bottom: 2rem;
}

iframe {
    width: 90%;
    height: 90vh;
}

.img-responsiv {
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

#agregar-comentario {
    border: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.myIframe {
    position: relative;
    padding-bottom: 50%;
    padding-top: 40px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: solid black 1px;
}

.myIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedor {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}