<div class="team-component back-gray">
    <div class="container team">
        <div class="row">
            <div class="col text-center">
                <h2 class="team-heading">Nuestro Equipo</h2>
                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis luctus nisl quis molestie. Quisque ac ex id nibh commodo euismod. Quisque sodales lacus eget rutrum interdum.</p>
            </div>
        </div>
        <div class="row">
            <div class="team-member col-sm-6 col-lg-3">
                <img src="" alt="">
                <h5>Nombre Apellido</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="" alt="">
                <h5>Nombre Apellido</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="" alt="">
                <h5>Nombre Apellido</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="" alt="">
                <h5>Nombre Apellido</h5>
                <span>Programador</span>
            </div>
        </div>
    </div>
</div>