<div class="team-component back-gray">
    <div class="container team">
        <div class="row">
            <div class="col text-center">
                <h2 class="team-heading">Nuestro Equipo</h2>
                <p class="team-description">Nuestra capacidad de ofrecer resultados sobresalientes para nuestros clientes comienza con nuestro equipo de expertos. Conozca a su equipo de Social Paradise a continuación.</p>
            </div>
        </div>
        <div class="row">
            <div class="team-member col-sm-6 col-lg-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fteam3.jpg?alt=media&token=ef729c8c-9daa-4909-bd11-de4b26ececa9" alt="">
                <h5>Andrés Delgado</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fteam1.jpg?alt=media&token=7f652d89-13b2-4385-9d08-ccafac4615e1" alt="">
                <h5>Marcela Arroyo</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fteam4.jpg?alt=media&token=813f74a3-d5f3-4844-b2ca-a788dc04fd52" alt="">
                <h5>Pablo Hernández</h5>
                <span>Programador</span>
            </div>
            <div class="team-member col-sm-6 col-lg-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/socialparadiseuna.appspot.com/o/default%2Fteam2.jpg?alt=media&token=b5d94ec7-218c-4fa2-b0cc-8b4ab2b0b151" alt="">
                <h5>Miguel Zúñiga</h5>
                <span>Programador</span>
            </div>
        </div>
    </div>
</div>